<section id="footer">
  <div class="wrapFooter">
    <div class="wrapCloudlayer">
      <img src="./images/svg/footerClouds.svg" alt="" />
    </div>

    <div class="footer">
      <div class="wrapFooterInfo">
        <img src="./images/skyuilogo.png" alt="" />
        <a href="#"> Get Started </a>

        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
      </div>
    </div>
  </div>
</section>
