<section id="footer">
  <div class="wrapFooter">
    <div class="wrapCloudlayer">
      <img src="./images/svg/footerClouds.svg" alt="" />
    </div>

    <div class="footer">
      <div class="wrapFooterInfo">
        <div class="footerPageLink">
          <img src="./images/skyuilogo.png" alt="" />
          <a href="#"> Get Started </a>
        </div>

        <div class="footerSocials">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
