<section id="footer">
  <div class="wrapFooter">
    <div class="wrapCloudlayer">
      <img src="./images/svg/footerClouds.svg" alt="" />
    </div>

    <div class="footer">
      <div class="wrapFooterInfo"></div>
    </div>
  </div>
</section>
