<header>
  <nav>
    <ul>
      <li class="logoNav">
        <img src="./images/skyuilogo.png" alt="" />
      </li>

      <div class="listMainDiv">
        <li class="listMain"><button class="btnLogin">Sign In</button></li>
      </div>
    </ul>
  </nav>
</header>
