<header>
  <nav>
    <ul>
      <div class="listMainDiv">
        <li class="logoNav">
          <img src="./images/skyuilogo.png" alt="" />
        </li>
        <li class="listMain"><button class="btnLogin">Sign In</button></li>
      </div>
    </ul>
  </nav>
</header>
