<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/startHTML %>
  </head>
  <body>
    <%include ./partials/header %>

    <div class="textIntro">
      <h1>
        Your Creative Work, <br />
        Protected with us
      </h1>
      <p>
        Sky UI an innovative workspace designed <br />
        to suit your needs and expectations. Join <br />
        SkyUI and ascend to greater heights.
      </p>

      <button>Learn More</button>
    </div>

    <div class="imgIntro">
      <img src="./images/workspaceSky.png" alt="" />
    </div>
  </body>
</html>
