<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/startHTML %>
  </head>
  <body>
    <div id="page-wrap">
    <%include ./partials/header %>

    <section id="section1">
      <div class="textIntro">
        <h1>
          Your Creative Work, <br />
          Protected with us
        </h1>
        <p>
          Sky UI an innovative workspace designed <br />
          to suit your needs and expectations. Join <br />
          SkyUI and ascend to greater heights.
        </p>

        <button>Learn More</button>
      </div>

      <div class="imgIntro">
        <img src="./images/workspaceSky.png" alt="" />
      </div>
    </section>

    <section id="customerInfo">
      <div class="placeholder">
        <h1>Our Customers</h1>
        <div class="placeholderBanner">
          <img src="./images/companylogos/google.png" alt="" />
          <img src="./images/companylogos/fb.png" alt="" />
          <img src="./images/companylogos/cococola.png" alt="" />
          <img src="./images/companylogos/mcafee.png" alt="" />
          <img src="./images/companylogos/netflix.png" alt="" />
        </div>
      </div>

      <div class="infomationSectorS1">
        <div class="sectorWrap">
        <h1>
          What are we to you? <br />
          What should you expect <br />
          from us?
        </h1>
        <p>
          SkyUI aims to bring the best cloud <br />
          service facilities you can find on <br />
          the internet. We provide the best of solutions <br />
          for you to work with. Complete with 24/7 <br />
          support and top-notch quality services <br />
          on the cloud.
        </p>
        <img src="./images/skyuiLaptop.png" alt="" />
      </div>
      </div>

      <div class="infomationSectorS2">
        <div class="sectorWrap">
        <h1>
          Stay organised and <br />
          in control of your work flow
        </h1>
        <p>
          SkyUI brings your files together, in one <br />
          central place. They’re easy to find and <br />
          safely synced across all your devices—so <br />
          you can access them anytime, anywhere. <br />
          No more wasting the day tracking down <br />
          work.
        </p>
        <img src="./images/skyuiOrganised.png" alt="" />
      </div>
      </div>
    </section>

    <section id="grayboxInfo">
      <div class="boxWrap">
        <h1>Engineered for the most demanding requirements</h1>

      <div class="boxWrapInfo">
        <div class="boxInfo1">
          <img src="./images/svg/tickShield.svg" alt="">
          <h3> Secure </h3>
          <p>Comprehensive security capabilities to <br />
            satisfy the most demanding requirements.</p>
        </div>

        <div class="boxInfo2">
          <img src="./images/svg/tickCircle.svg" alt="">
          <h3>Compliant</h3>
          <p>Rich controls, auditing and broad security
             accreditations.</p>
        </div>

        <div class="boxInfo3">
          <img src="./images/svg/stackBooks.svg" alt="">
          <h3>Hybrid</h3>
          <p>Build hybrid architectures that extend your
             on-premises infrastructure to the Cloud.</p>
        </div>

        <div class="boxInfo4">
          <img src="./images/svg/scale.svg" alt="">
          <h3>Scalable</h3>
          <p>Access as much or as little as you need, and scale up
            and down as required with only a few minutes notice.</p>
      </div>
    </div>
    </section>
    
  </div>
  </body>
</html>
