<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/startHTML %>
  </head>
  <body>
    <%include ./partials/header %>

    <div class="textIntro">
      <h1>Sky Cloud Service</h1>
      <p>Trust in us. Trust in the cloud</p>

      <button>Learn More</button>
    </div>

    <div class="svgIntro">
      <img src="./images/workspace.svg" alt="" />
    </div>
  </body>
</html>
