<!DOCTYPE html>
<html lang="en">
  <head>
    <%include ./partials/startHTML %>
    <link rel="stylesheet" href="./stylesheets/services.css" />
  </head>
  <body>
    <div id="page-wrap-services">
      <%include ./partials/header %>

      <section id="Services-infoBegin">
        <div class="infoBeginWrap">
          <h1>Work better, work smarter</h1>
          <p>
            We provide only the best in <br />
            cloud services
          </p>

          <a href="#"> Choose your plan </a>
        </div>

        <div class="imgBeginWrap">
          <img src="../images/WorkspaceFlatLay.png" alt="" />
        </div>
      </section>

      <section class="Services-choosePlan">
        <div class="Services-wrap">
          <div class="titleWrap">
            <h1> Plans that meet your needs </h1>
          </div>

          <div class="choosePlanWrap">

            <div class="plan-1">
              <div class="grayBoxplan-1">
                <div class="plan-1TextWrapBox">
                    <h1> FREE </h1>
                    <h6> This plan is made for: </h6>
    
                    <p>Made for individuals, hobbyists <br /> and students. Get started on SkyUI today for <br /> FREE of charge.</p>
                  </div>

                  <div class="plan-1TextWrapSecondary">
                    <h1> Basic </h1>

                    <ul>
                      <li>2 GB of space to use</li>
                      <li>Sync Files across devices</li>
                      <li>Shared folders and links</li>
                      <li>Documentation</li>
                    </ul>

                  </div>

                  <div class="plan-1ButtonWrap">
                    <a href="#"> Sign Up </a>
                  </div>
                </div>
              </div>

              <div class="plan-2">
                  <div class="grayBoxplan-2">
                    <div class="plan-2TextWrapBox">
                        <h2> $ </h2>
                        <h1> 50 </h1>
                        <h3> /yr </h3>
                        <h6> This plan is made for: </h6>
        
                        <p>Made for startups and small businesses <br /> that needs end-to-end solutions and <br /> scalability.</p>
                      </div>
    
                      <div class="plan-2TextWrapSecondary">
                        <h1> Enterprise </h1>
    
                        <ul>
                          <li>Everything in BASIC</li>
                          <li>1 TB (1,000 GB) of space</li>
                          <li>Offline file access</li>
                          <li>Remote file wipe</li>
                          <li>Priority email support</li>
                        </ul>
    
                      </div>
    
                      <div class="plan-2ButtonWrap">
                        <a href="#"> Select </a>
                      </div>
                    </div>
                  </div>

                  <div class="plan-3">
                    <div class="grayBoxplan-3">
                      <div class="plan-3TextWrapBox">
                          <h2> $ </h2>
                          <h1> 99 </h1>
                          <h3> /yr </h3>
                          <h6> This plan is made for: </h6>
          
                          <p>Made for big businesses. Enjoy <br /> uninterrupted services and the best <br /> quality of service SkyUI can offer.</p>
                        </div>
      
                        <div class="plan-3TextWrapSecondary">
                          <h1> Professional </h1>
      
                          <ul>
                            <li>Everything in ENTERPRISE</li>
                            <li>2 TB (2,000 GB) of space</li>
                            <li>Smart Sync - Save work offline</li>
                            <li>Showcase - View your progress</li>
                            <li>Full-text search</li>
                            <li>Priority chat support</li>
                          </ul>
      
                        </div>
      
                        <div class="plan-3ButtonWrap">
                          <a href="#"> Select </a>
                        </div>
                      </div>
                    </div>
            </div>
          </div>
        </section>

        <section id="Service-blueBox">
          <div class="Services-blueBox-wrap">
            <div class="blueBox-contentWrap">
              <div class="blueBox-image">
                <img src="./images/graph.png" alt="">
              </div>

              <div class="blueBox-text">
                <h1>Sky UI gives you <br />
                  space for everything</h1>

                <p>Get the storage you need to access <br />
                   everything you’ve got, anywhere you are. <br />
                   With 2 TB (2,000 GB) of space for photos, <br />
                   videos, project work, and more, there’s <br />
                   plenty of room for all your files.
                </p>
              </div>
            </div>
          </div>
        </section>

        <section id="Trusted-Section">
          <div class="Trusted-wrap">
            <div class="Trusted-content">
              <h1> Trusted by many </h1>

              <div class="Trusted-subContent 1">
                <h2>Simple to use</h2>
                <p>Get the unmatched simplicity of 
                  <br /> SkyUI, designed to work anywhere 
                  <br /> you need it.
                </p>
              </div>

              <div class="Trusted-subContent 2">
                <h2>Safe and secure</h2>
                <p>Keep everything safe and right<br />
                   where it belongs with powerful<br />
                   security features.
                </p>
              </div>

              <div class="Trusted-subContent 3">
                <h2>Works everywhere</h2>
                <p>Use the same service trusted by<br />
                   millions across platforms, devices, <br />
                   and around the globe.
                </p>
              </div>

            </div>
          </div>
        </section>
        </div>

      <%include ./partials/footer %>
    </div>
  </body>
</html>
