<!DOCTYPE html>
<html lang="en">
  <head>
    <%include ./partials/startHTML %>
    <link rel="stylesheet" href="./stylesheets/services.css" />
  </head>
  <body>
    <div id="page-wrap-services">
      <%include ./partials/header %>

      <section id="Services-infoBegin">
        <div class="infoBeginWrap">
          <h1>Work better, work smarter</h1>
          <p>
            We provide only the best in <br />
            cloud services
          </p>

          <a href="#"> Choose your plan </a>
        </div>

        <div class="imgBeginWrap">
          <img src="../images/WorkspaceFlatLay.png" alt="" />
        </div>
      </section>

      <section class="Services-choosePlan">
        <div class="Services-wrap">
          <div class="titleWrap">
            <h1> Plans that meet your needs </h1>
          </div>

          <div class="choosePlanWrap">

            <div class="plan-1">
              <div class="grayBoxplan-1">
                <div class="plan-1TextWrapBox">
                    <h1> FREE </h1>
                    <h6> This plan is made for: </h6>
    
                    <p>Made for individuals, hobbyists <br /> and students. Get started on SkyUI today for <br /> FREE of charge.</p>
                  </div>

                  <div class="plan-1TextWrapSecondary">
                    <h1> Basic </h1>

                    <ul>
                      <li>2 GB of space to use</li>
                      <li>Sync Files across devices</li>
                      <li>Shared folders and links</li>
                      <li>Documentation</li>
                    </ul>

                  </div>

                  <div class="plan-1ButtonWrap">
                    <a href="#"> Sign Up </a>
                  </div>
                </div>
              </div>

              <div class="plan-2">
                  <div class="grayBoxplan-2">
                    <div class="plan-2TextWrapBox">
                        <h2> $ </h2>
                        <h1> 50 </h1>
                        <h3> /yr </h3>
                        <h6> This plan is made for: </h6>
        
                        <p>Made for startups and small businesses <br /> that needs end-to-end solutions and <br /> scalability.</p>
                      </div>
    
                      <div class="plan-2TextWrapSecondary">
                        <h1> Enterprise </h1>
    
                        <ul>
                          <li>Everything in BASIC</li>
                          <li>1 TB (1,000 GB) of space</li>
                          <li>Offline file access</li>
                          <li>Remote file wipe</li>
                          <li>Priority email support</li>
                        </ul>
    
                      </div>
    
                      <div class="plan-2ButtonWrap">
                        <a href="#"> Select </a>
                      </div>
                    </div>
                  </div>


            </div>
          </div>
        </div>
      </section>

      <%include ./partials/footer %>
    </div>
  </body>
</html>
