<!DOCTYPE html>
<html lang="en">
  <head>
    <%include ./partials/startHTML %>
  </head>
  <body>
    <div class="page-wrap">
      <%include ./partials/header %>

      <section>
        <h1>Work better, work smarter</h1>
        <p>Test</p>
      </section>

      <%include ./partials/footer %>
    </div>
  </body>
</html>
