#page-wrap-services {
  background: url("../images/background_service.png");
  background-position: -51px -995px;
  background-repeat: no-repeat;
}

#Services-infoBegin {
  margin-left: 430px;
  margin-top: 160px;
  color: #fff;

  h1 {
    font-size: 85px;
    font-family: $secondaryFont;
    width: 565px;
    height: 194px;
  }

  p {
    margin-top: 36px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    font-family: $primaryFont;
    height: 100px;
    line-height: 35px;
  }

  a {
    padding: 17px 27px;
    font-size: 25px;
    font-family: $secondaryFont;
    background: #0180ff;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
    transition: 0.1s ease-in;

    &:hover {
      background: #076fd6;
    }
  }
}
